{% extends "blog/base.html" %}
{% block content %}
<div class="content-section" xmlns="http://www.w3.org/1999/html">
        <legend class="border-bottom mb-4"><h3>Announcements</h3></legend>
        <li class="article-content">Article Hub is now live</li>
        <li class="article-content">Latest and top posts pages are working now</li>
        <li class="article-content">Share button was added</li>
        <li class="article-content">Commenting section was added</li>
        <li class="article-content">Like button was added</li>
        <li class="article-content">Commenting section will be added next</li>
        <li class="article-content">Implemented password reset via email</li>
        <li class="article-content">Implemented user profiles</li>
        <li class="article-content">Article Hub is now in development</li>
        </p>
    </div>
{% endblock content %}